
<% content_for :head do %>
  <%= stylesheet_link_tag "question_forms" %>
<% end %>

<section id="mainfrm">
    <div class="container">
        <div class="frmhddr">
            <h1>Ask a New Question</h1>
        </div>
        <div class="adqcwrp">
            <div id="adqc">
                <%= form_for(:question, url: questions_path) do |q| %>
                    <div class="fldwrp">
                        <%= q.label :description %>
                        <%= q.text_field :description %> 
                    </div>
                    <%= q.submit "Create" %>
                <% end %>
            </div>
        </div>
    </div>
</section>


<%= link_to "Back", questions_path %>
