<% content_for :head do %>
  <%= stylesheet_link_tag "questions" %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
  <strong>Likes:</strong>
  <%= @question.get_likes.size %>
</p>

<% if current_user != nil && @question.user_id == current_user.id %>
  <%= link_to 'Edit', edit_question_path(@question) %> |
<% end %>
<%= link_to 'Back', root_path %> |
<%= link_to 'Add Answer', new_answer_path({:qn_id => @question.id}) %> | 
<%= link_to 'Like', like_question_path(@question), method: "put" %> |
<%= link_to 'Unlike', unlike_question_path(@question), method: "put" %>

<% @answers.each do |answer| %>
  <div class="ansctnr">
    <div>User: <%= answer.user_id %></div>
    <div>Answer: <%= answer.description %></div>
    <% if current_user != nil && current_user.id == answer.user_id %>
      <%= link_to "Edit", edit_answer_path(answer) %>
      <%= link_to "Delete", "/answers/#{answer.id}", method: "delete" %>
    <% end %>
  </div>
<% end %>
