<!--<h1>StaticPage#home</h1>-->
<!--<p>Find me in app/views/static_page/home.html.erb</p>-->


<% provide(:title, "Home") %>
<!DOCTYPE html>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="background-color: transparent !important;">Team Temp</a>
  </nav>
  
  <h1>Study App</h1>
  <p>
    <%= @message %>
  </p>
  
  <ul>
    <li><%= link_to "Add Question",   '#' %></li>
  </ul>
  
  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th colspan="2"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.description %></td>
          <td><%= link_to 'Show', question %></td>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>  