<% provide(:title, 'Sign up') %>
<% content_for :head do %>
  <%= stylesheet_link_tag "user_forms" %>
<% end %>

<section id="main">
  <div class="container">
    <div class="usrfwrp">
      <h1>Create Your Study App Account</h1>
    </div>
    <div class="usrfc">
      <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>
        <div class="fldwrp">
          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>
        </div>
        <div class="fldwrp">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="fldwrp">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <div class="btnwrp">
          <%= f.submit "Create my account", class: "btn btn-primary" %>
        </div>
      <% end %>
      <p>Click <%= link_to "Here", "/" %> to go back!</p>
    </div>
  </div>
</section>
