<!DOCTYPE html>
<html>
  <head>
    <title>TeamTemp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "navbar" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div><a class="navbar-brand" href="/" style="background-color: transparent !important;">Team Temp</a></div>
    <div class="navbar-nav ml-auto">
      <div class="user-bar">
        <% if @session_loggedin %>
          <span class="uspot"><%= link_to "Logout", logout_path, method: :delete, class: "hoftc" %></span>
        <% else %>
          <span class="usopt"><%= link_to "Login", '/sessions/new', class: "hoftc" %></span>
        <% end %>
        <span class="hoftc">|</span>
        <span class="usopt"><%= link_to "Sign up", '/users/new', class: "hoftc" %></span>
      </div>
    </div>
  </nav>

  <body>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
